<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main class="common-main">
	<h1>カテゴリー登録</h1>
	
	<form action="/categories/add" method="post">
		<table border="1" class="main-table"> 
			<tr>
				<th>カテゴリー名</th>
				<td class="addbox"><input type="text" name="name" class="addessence"></td>
			</tr>
		</table>
		<button class="button-main">登録</button>
	</form>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
</html>