<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
	<header th:replace="~{header}"></header>
	<main>
	<h1>カテゴリー登録</h1>
	
	<form action="/categories/add" method="post">
		<table border="1"> 
			<tr>
				<th>カテゴリー名</th>
				<td><input type="text" name="name"></td>
			</tr>
		</table>
		<button>登録</button>
	</form>
	</main>
	<a href="/tasks/add">新規登録</a>
	<a href="/categories">カテゴリー一覧</a>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
</html>