<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<hr>
	<h1>タスク追加</h1>
	
	<form action="/tasks/add" method="post">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td><input name="title"></td>
			</tr>
			<tr>
				<th>カテゴリーID</th>
				<td><input name="categoryId"></td>
			</tr>
			<tr>
				<th>登録日</th>
				<td><input name="recordDay" value="2000/01/01"></td>
			</tr>
			<tr>
				<th>内容</th>
				<td><input name="memo"></td>
			</tr>
		</table>
		<button>登録</button>
	</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>