<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main class="common-main">
	<h1>お薬登録</h1>
	
	<form action="/tasks/add" method="post">
		<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}"></li>
		</ul>
		<table border="1" class="main-table">
			<tr>
				<th>種類</th>
				<td class="addbox"><input type="text" name="title" placeholder="例：錠剤" th:value="${title}" class="addessence"></td>
			</tr>
			<tr>
				<th>カテゴリーID</th>
				<td class="addbox">
					<select name="categoryId" class="addessence">
						<option>カテゴリーを選択してください</option>
				    	<option th:each="category:${categories}" 
								th:value="${category.id}" 
								th:text="${category.name}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>登録日</th>
				<td class="addbox"><input type="date" name="recordDay" placeholder="YYYY/MM/DD" th:value="${recordToday}" class="addessence"></td>
			</tr>
			<tr>
				<th>残量</th>
				<td class="addbox"><input type="number" name="level" placeholder="60" value="60" class="addessence"></td>
			</tr>
			<tr>
				<th>服用量</th>
				<td class="addbox"><input type="number" name="progress" placeholder="2" value="2" class="addessence"></td>
			</tr>
			<tr>
				<th>飲むタイミング</th>
				<td class="addbox"><input type="text" name="memo" placeholder="毎食後3つ" th:value="${memo}" class="addessence"></td>
			</tr>
		</table>
		<br>
		<button class="button-main">登録</button>
	</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>