<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
	<header th:replace="~{header}"></header>
	<hr>
	<h1>お薬登録</h1>
	
	<form action="/tasks/add" method="post">
		<table border="1">
			<tr>
				<th>種類</th>
				<td><input name="title"></td>
			</tr>
			<tr>
				<th>カテゴリーID</th>
				<td><input name="categoryId"></td>
			</tr>
			<tr>
				<th>登録日</th>
				<td><input name="recordDay"></td>
			</tr>
			<tr>
				<th>残量</th>
				<td><input name="progress"></td>
			</tr>
			<tr>
				<th>飲むタイミングと量</th>
				<td><input name="memo"></td>
			</tr>
		</table>
		<button>登録</button>
	</form>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
</html>