<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div class="container">
			<div class="image-box">
				<img src="/img/hydrangea_blue.jpg" at="hydrangea">
			</div>
			<div class="text-box">
					<header class="login-header">
							<h1>お薬日記帳</h1>
					</header>
					<main class="login-main">
						<div class="backcolor">
							<form action="/account" method="post">
								<h2>新規会員登録</h2>
								<ul th:if="${errorList}" class="error">
									<li th:each="error:${errorList}" th:text="${error}"></li>
								</ul>
								<br>
								<input type="text" name="name" class="login-input" placeholder="名前" th:value="${name}">
		
								<br>
								<input type="text" name="email" class="login-input" placeholder="メールアドレス" th:value="${email}">
								
								<br>
								<input type="text" name="password" class="login-input" placeholder="パスワード" th:value="${password}">
								
								<br>
								<div class="niche">
									<button class="button-main">登録</button>
								</div>
								
							</form>
						</div>
					</main>
					<footer class="login-footer">
						<small>&copy; ABC薬局</small>
					</footer>
				</div>
			</div>
		</div>
	</div>
</body>
</html>