<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<header>
			<h1>お薬日記帳</h1>
	</header>
	<main>
		<form action="/account" method="post">
			<ul th:if="${errorList}" class="error">
				<li th:each="error:${errorList}" th:text="${error}"></li>
			</ul>
			<table border="1">
				<tr>
					<th>名前</th>
					<td><input type="text" name="name" placeholder="名前" th:value="${name}"></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email" placeholder="メールアドレス" th:value="${email}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password" placeholder="パスワード" th:value="${password}"></td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>