<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>新規会員登録</h1>
	<form action="/login" method="post">
		<ul th:if="${errorList}" class="error">
			<li th:each="error:$${errorList}" th:text="${error}"></li>
		</ul>
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input name="name" placeholder="名前" th:value="${name}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input name="email" placeholder="メールアドレス" th:value="${email}"></td>
			</tr>
			<tr>
				<th>電話</th>
				<td><input name="password" placeholder="パスワード" th:value="${password}"></td>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>
</html>