<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
	<header th:replace="~{header}"></header>
	<main class="common-main">
	<h1>カテゴリー一覧</h1>
	<table border="1" class="main-table">
		<tr>
			<th>カテゴリーID</th>
			<th>カテゴリー名</th>
			<th>変更</th>
			<th>更新</th>
		</tr>
		<tr th:each="category:${categories}">
			<td th:text="${category.id}"></td>
			<td th:text="${category.name}"></td>
			<td>
				<form th:action="@{/categories/{categoryId}/edit(categoryId=${category.id})}" method="get">
					<input type="image" src="/img/edit.png" alt="editaicon" class="accentimg">
				</form>
			</td>
			<td>
				<form th:action="@{/categories/{categoryId}/delete(categoryId=${category.id})}" method="post"
				onsubmit="return checkDelete()">
				<input type="image" src="/img/delete.png" alt="deleteaicon" class="accentimg">
				</form>
			</td>
		</tr>
	</table>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
<script>
	function checkDelete() {
		if (confirm("削除しますか")) {
			return true;
		} else {
			return false;
		}
	}
</script>
</html>