<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
	<header th:replace="~{header}"></header>
	<main>
		<h1>お薬情報更新</h1>
		<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="post" 
				onsubmit="return checkEdit()">
			<table border="1">
				<tr>
					<th>カテゴリーID</th>
					<td>
						<select name="categoryId">
							<option>カテゴリーを選択してください</option>
							<option th:each="category:${categories}"
									th:value="${category.id}"
									th:text="${category.name}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>もらった日</th>
					<td><input type="date" name="recordDay" th:value="${task.recordDay}"></td>
				</tr>
				<tr>
					<th>タイプ</th>
					<td><input name="title" th:value="${task.title}"></td>
				</tr>
				<tr>
					<th>残量</th>
					<td><input name="level" th:value="${task.level}"></td>
				</tr>
				<tr>
					<th>服用量</th>
					<td><input name="progress" th:value="${task.progress}"></td>
				</tr>
				<tr>
					<th>飲むタイミング</th>
					<td><input name="memo" th:value="${task.memo}"></td>
				</tr>
			</table>
			<button>更新</button>
		</form>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
<script>
	function checkEdit() {
		if (confirm("更新しますか")) {
			return true;
		} else {
			return false;
		}
	}
</script>
</html>