<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main class="common-main">
		<h1>お薬情報更新</h1>
		<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="post" 
				onsubmit="return checkEdit()">
			<table border="1" class="main-table">
				<tr>
					<th>カテゴリーID</th>
					<td class="addbox">
						<select name="categoryId" class="addessence">
							<option>カテゴリーを選択してください</option>
							<option th:each="category:${categories}"
									th:value="${category.id}"
									th:text="${category.name}" selected>
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>もらった日</th>
					<td class="addbox"><input type="date" name="recordDay" th:value="${task.recordDay}" class="addessence"></td>
				</tr>
				<tr>
					<th>タイプ</th>
					<td class="addbox"><input name="title" th:value="${task.title}" class="addessence"></td>
				</tr>
				<tr>
					<th>残量</th>
					<td class="addbox"><input name="level" th:value="${task.level}" class="addessence"></td>
				</tr>
				<tr>
					<th>服用量</th>
					<td class="addbox"><input name="progress" th:value="${task.progress}" class="addessence"></td>
				</tr>
				<tr>
					<th>飲むタイミング</th>
					<td class="addbox"><input name="memo" th:value="${task.memo}" class="addessence"></td>
				</tr>
			</table>
			<button class="button-main">更新</button>
		</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
<script>
	function checkEdit() {
		if (confirm("更新しますか")) {
			return true;
		} else {
			return false;
		}
	}
</script>
</html>