<header>
	<h1><a href="/tasks">お薬日記帳</a></h1>
	<div id="logrel">
	<span th:text="${@account.name}+'さんがログイン中'"></span>
	<a href="/logout">ログアウト</a>
	</div>
	<hr>
	<nav class=aicon>
		<a href="/tasks">
			<img src="/img/medecin.png" alt="medecin" href="/tasks">
		</a>
		<a href="/tasks?categoryId=1">
			<img src="/img/morning.png" alt="morning">
		</a>
		<a href="/tasks?categoryId=2">
			<img src="/img/lunch.png" alt="lunch">
		</a>
		<a href="/tasks?categoryId=3">
			<img src="/img/night.png" alt="night">
		</a>
	</nav>
<!--	食事アイコン-->
<!--	お風呂アイコン-->
<!--	ベッドアイコン-->
</header>