<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
	<header class="login-header">
		<h1>お薬日記帳</h1>
	</header>
	<main>
<!--		<div id="box1">-->
<!--			<h1><img src="/img/sweatpea001.png" alt="image"></h1>-->
<!--		</div>-->
		<h2>会員ログイン</h2>
			<form action="/login" method="post" class="logininfo">
				<br><input name="email" placeholder="メールアドレス">
				<br><input name="password" placeholder="パスワード">
				<br>
				<br>
				<br>
				<button>ログイン</button>
				<br><span th:text="${message}" style="color: red"></span>
			</form>
			<a href="/account">新規会員登録</a>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>
</html>