<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main class="common-main">
		<h1>お薬一覧</h1>
		
		<form action="/tasks" method="get">
			<input type="text" name="keyword" placeholder="種類" th:value="${keyword}" class="search-input">
			|
			<input type="date" name="recordDay" placeholder="日付" th:value="${recordDay}" class="search-input">
			<button class="button-main">検索</button>
		</form>
		<br>
		
		<table border="1" class="main-table">
			<tr>
				<th>もらった日</th>
				<th>種類</th>
				<th>残量</th>
				<th>服用量</th>
				<th>服用時間</th>
				<th>備考</th>
				<th>飲んだ？</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="task:${tasks}">
				<td th:text="${task.recordDay}"></td>
				<td th:text="${task.title}"></td>
				<td th:text="${task.level}"></td>
				<td th:text="${task.progress}"></td>
				<td th:text="${task.categories.name}"></td>
				<td th:text="${task.memo}"></td>
				<td>
					<form th:action="@{/tasks/{taskId}/done(taskId=${task.id})}" method="post">
						<input type="image" src="/img/ok.png" alt="okaicon" class="accentimg">
					</form>
				</td>
				<td>
					<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
						<input type="image" src="/img/edit.png" alt="editaicon" class="accentimg">
					</form>
				</td>
				<td>
					<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post"
						onsubmit="return checkDelete()">
						<input type="image" src="/img/delete.png" alt="deleteaicon" class="accentimg">
					</form>
				</td>
			</tr>
		</table>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
<script>
	function checkDelete() {
		if (confirm("削除しますか")) {
			return true;
		} else {
			return false;
		}
	}
</script>
</html>